<div class="col-md-3 col-sm-6">
    <figure class="card card-product-grid">
        <div class="img-wrap">
            <img class="img-fgr img-fluid" src="/assets/gordo-stickers/almost.png">
            <span class="topbar">
                <a href="#" class="float-right"><i class="fa fa-heart"></i></a>
            </span>
            <a class="btn-overlay" href="#"><i class="fa fa-search-plus"></i> Quick view</a>
        </div>
        <figcaption class="info-wrap border-top">
            <a href="#" class="title">Almost Sticker</a>
            <div class="price mt-2">$5.00</div> <!-- price-wrap.// -->
        </figcaption>
    </figure> <!-- card // -->
</div> <!-- col.// -->