<div class="d-flex flex-row flex-item-center flex-wrap">
    <div class="col-md-3 col-sm-6">
        <figure class="card card-product-grid mt-5">
            <div class="img-wrap">
                <img class="img-fgr img-fluid" src="./assets/gordo-stickers/eye-on-the-pies.png">
                <span class="topbar">
                    <a href="#" class="float-right"><i class="fa fa-heart"></i></a>
                </span>
                <a class="btn-overlay" href="#"><i class="fa fa-search-plus"></i> Quick view</a>
            </div>
            <figcaption class="info-wrap border-top">
                <a href="#" class="title">Almost Sticker</a>
                <div class="price mt-2">$5.00</div> <!-- price-wrap.// -->
                <a href="#" class="btn btn-sm btn-primary float-right mr-1 mb-1"> Add to Cart </a>
            </figcaption>
        </figure> <!-- card // -->
    </div> <!-- col.// -->

    <div class="col-md-3 col-sm-6">
        <figure class="card card-product-grid mt-5">
            <div class="img-wrap">
                <img class="img-fgr img-fluid" src="./assets/gordo-stickers/animal-gun.png">
                <span class="topbar">
                    <a href="#" class="float-right"><i class="fa fa-heart"></i></a>
                </span>
                <a class="btn-overlay" href="#"><i class="fa fa-search-plus"></i> Quick view</a>
            </div>
            <figcaption class="info-wrap border-top">
                <a href="#" class="title">Almost Sticker</a>
                <div class="price mt-2">$5.00</div> <!-- price-wrap.// -->
                <a href="#" class="btn btn-sm btn-primary float-right mr-1 mb-1"> Add to Cart </a>
            </figcaption>
        </figure> <!-- card // -->
    </div> <!-- col.// -->


    <div class="col-md-3 col-sm-6">
        <figure class="card card-product-grid mt-5">
            <div class="img-wrap">
                <img class="img-fgr img-fluid" src="./assets/gordo-stickers/Batty_Boy.png">
                <span class="topbar">
                    <a href="#" class="float-right"><i class="fa fa-heart"></i></a>
                </span>
                <a class="btn-overlay" href="#"><i class="fa fa-search-plus"></i> Quick view</a>
            </div>
            <figcaption class="info-wrap border-top">
                <a href="#" class="title">Almost Sticker</a>
                <div class="price mt-2">$5.00</div> <!-- price-wrap.// -->
                <a href="#" class="btn btn-sm btn-primary float-right mr-1 mb-1"> Add to Cart </a>
            </figcaption>
        </figure> <!-- card // -->
    </div> <!-- col.// -->

    <div class="col-md-3 col-sm-6">
        <figure class="card card-product-grid mt-5">
            <div class="img-wrap">
                <img class="img-fgr img-fluid" src="./assets/gordo-stickers/buggin-out.png">
                <span class="topbar">
                    <a href="#" class="float-right"><i class="fa fa-heart"></i></a>
                </span>
                <a class="btn-overlay" href="#"><i class="fa fa-search-plus"></i> Quick view</a>
            </div>
            <figcaption class="info-wrap border-top">
                <a href="#" class="title">Almost Sticker</a>
                <div class="price mt-2">$5.00</div> <!-- price-wrap.// -->
                <a href="#" class="btn btn-sm btn-primary float-right mr-1 mb-1"> Add to Cart </a>
            </figcaption>
        </figure> <!-- card // -->
    </div> <!-- col.// -->

    <div class="col-md-3 col-sm-6">
        <figure class="card card-product-grid mt-5">
            <div class="img-wrap">
                <img class="img-fgr img-fluid" src="./assets/gordo-stickers/elephant.png">
                <span class="topbar">
                    <a href="#" class="float-right"><i class="fa fa-heart"></i></a>
                </span>
                <a class="btn-overlay" href="#"><i class="fa fa-search-plus"></i> Quick view</a>
            </div>
            <figcaption class="info-wrap border-top">
                <a href="#" class="title">Almost Sticker</a>
                <div class="price mt-2">$5.00</div> <!-- price-wrap.// -->
                <a href="#" class="btn btn-sm btn-primary float-right mr-1 mb-1"> Add to Cart </a>
            </figcaption>
        </figure> <!-- card // -->
    </div> <!-- col.// -->

    <div class="col-md-3 col-sm-6">
        <figure class="card card-product-grid mt-5">
            <div class="img-wrap">
                <img class="img-fgr img-fluid" src="./assets/gordo-stickers/pajaro.png">
                <span class="topbar">
                    <a href="#" class="float-right"><i class="fa fa-heart"></i></a>
                </span>
                <a class="btn-overlay" href="#"><i class="fa fa-search-plus"></i> Quick view</a>
            </div>
            <figcaption class="info-wrap border-top">
                <a href="#" class="title">Almost Sticker</a>
                <div class="price mt-2">$5.00</div> <!-- price-wrap.// -->
                <a href="#" class="btn btn-sm btn-primary float-right mr-1 mb-1"> Add to Cart </a>
            </figcaption>
        </figure> <!-- card // -->
    </div> <!-- col.// -->
    
    <div class="col-md-3 col-sm-6">
            <figure class="card card-product-grid mt-5">
                <div class="img-wrap">
                    <img class="img-fgr img-fluid" src="./assets/gordo-stickers/robot-fish-tank.png">
                    <span class="topbar">
                        <a href="#" class="float-right"><i class="fa fa-heart"></i></a>
                    </span>
                    <a class="btn-overlay" href="#"><i class="fa fa-search-plus"></i> Quick view</a>
                </div>
                <figcaption class="info-wrap border-top">
                    <a href="#" class="title">Almost Sticker</a>
                    <div class="price mt-2">$5.00</div> <!-- price-wrap.// -->
                    <a href="#" class="btn btn-sm btn-primary float-right mr-1 mb-1"> Add to Cart </a>
                </figcaption>
            </figure> <!-- card // -->
        </div> <!-- col.// -->

        <div class="col-md-3 col-sm-6">
                <figure class="card card-product-grid mt-5">
                    <div class="img-wrap">
                        <img class="img-fgr img-fluid" src="./assets/gordo-stickers/robot-jesus.png">
                        <span class="topbar">
                            <a href="#" class="float-right"><i class="fa fa-heart"></i></a>
                        </span>
                        <a class="btn-overlay" href="#"><i class="fa fa-search-plus"></i> Quick view</a>
                    </div>
                    <figcaption class="info-wrap border-top">
                        <a href="#" class="title">Almost Sticker</a>
                        <div class="price mt-2">$5.00</div> <!-- price-wrap.// -->
                        <a href="#" class="btn btn-sm btn-primary float-right mr-1 mb-1"> Add to Cart </a>
                    </figcaption>
                </figure> <!-- card // -->
            </div> <!-- col.// -->

            <div class="col-md-3 col-sm-6">
                    <figure class="card card-product-grid mt-5">
                        <div class="img-wrap">
                            <img class="img-fgr img-fluid" src="./assets/gordo-stickers/same-future.png">
                            <span class="topbar">
                                <a href="#" class="float-right"><i class="fa fa-heart"></i></a>
                            </span>
                            <a class="btn-overlay" href="#"><i class="fa fa-search-plus"></i> Quick view</a>
                        </div>
                        <figcaption class="info-wrap border-top">
                            <a href="#" class="title">Almost Sticker</a>
                            <div class="price mt-2">$5.00</div> <!-- price-wrap.// -->
                            <a href="#" class="btn btn-sm btn-primary float-right mr-1 mb-1"> Add to Cart </a>
                        </figcaption>
                    </figure> <!-- card // -->
                </div> <!-- col.// -->

                <div class="col-md-3 col-sm-6">
                        <figure class="card card-product-grid mt-5">
                            <div class="img-wrap">
                                <img class="img-fgr img-fluid" src="./assets/gordo-stickers/youck-burger.png">
                                <span class="topbar">
                                    <a href="#" class="float-right"><i class="fa fa-heart"></i></a>
                                </span>
                                <a class="btn-overlay" href="#"><i class="fa fa-search-plus"></i> Quick view</a>
                            </div>
                            <figcaption class="info-wrap border-top">
                                <a href="#" class="title">Almost Sticker</a>
                                <div class="price mt-2">$5.00</div> <!-- price-wrap.// -->
                                <a href="#" class="btn btn-sm btn-primary float-right mr-1 mb-1"> Add to Cart </a>
                            </figcaption>
                        </figure> <!-- card // -->
                    </div> <!-- col.// -->
                    
                    <div class="col-md-3 col-sm-6">
                            <figure class="card card-product-grid mt-5">
                                <div class="img-wrap">
                                    <img class="img-fgr img-fluid" src="./assets/gordo-stickers/feed-us-records.png">
                                    <span class="topbar">
                                        <a href="#" class="float-right"><i class="fa fa-heart"></i></a>
                                    </span>
                                    <a class="btn-overlay" href="#"><i class="fa fa-search-plus"></i> Quick view</a>
                                </div>
                                <figcaption class="info-wrap border-top">
                                    <a href="#" class="title">Almost Sticker</a>
                                    <div class="price mt-2">$5.00</div> <!-- price-wrap.// -->
                                    <a href="#" class="btn btn-sm btn-primary float-right mr-1 mb-1"> Add to Cart </a>
                                </figcaption>
                            </figure> <!-- card // -->
                        </div> <!-- col.// -->
</div>