<div class="card-body" *ngFor = "let sticker of stickers">
    <div class="row">
    <div class="col-md-3 col-sm-6">
        <figure class="card card-product-grid mt-5">
            <div class="img-wrap">
                <img class="card-img-top img-fgr img-fluid" src={{sticker.imgPath}}>
                <a class="btn-overlay" href="#"><i class="fa fa-search-plus"></i> Quick view</a>
            </div>
            <figcaption class="info-wrap border-top">
                <p  class="title text-left ml-1">{{sticker.description}}</p>
                <div class="price mt-2">{{sticker.price}}</div> <!-- price-wrap.// -->
                <a href="#" class="btn btn-sm btn-primary float-right mr-1 mb-1" (click)="addToCart(product)"> Add to Cart </a>
            </figcaption>
        </figure> <!-- card // -->
    </div> <!-- col.// -->
    </div>
</div>