<div class="jumbotron">
    <h1 class="gordo-title">Gordo Arts
    </h1>
    <hr class="my-4">
    
    <nav class="navbar navbar-expand-md bg-light navbar-light ">
        <a class="navbar-brand" href="#">Gordo Arts</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav ml-auto">
      
            <li class="nav-item">
              <a class="nav-link" routerLink="/shop-all">Shop All</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/shop-apparel">Apparel</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/shop-stickers">Stickers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/shop-pins">Pins</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/commissions">Commissions</a>
            </li>
          </ul>
        </div>
      </nav>
  </div>

  